@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: Monaco;
    src: url(../fonts/Monaco.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Monaco';
}

.border-r-1 {
    border-right: solid 1px lightgrey;
}   

.glitch{
  height: 73px;
}

.glitch:before, .glitch:after {
    position: absolute;
    content: "Hi, I'm Matteo";
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .glitch:before {
    top: 49.75%;
    left: 49.75%;
    color: #00C4D0;
    animation: distort1 400ms linear infinite;
  }
  .glitch:after {
    top: 50.25%;
    left: 50.25%;
    color: #EE69B2;
    animation: distort2 400ms linear infinite;
  }
  @keyframes distort1 {
    0% {
      top: 50.50%;
      left: 50.50%;
    }
    12.5% {
      top: 50%;
      left: 50%;
    }
    25% {
      top: 50.50%;
      left: 50.50%;
    }
    37.5% {
      top: 50.25%;
      left: 50.50%;
    }
    50% {
      top: 50%;
      left: 50%;
    }
    62.5% {
      top: 50%;
      left: 50%;
    }
    75% {
      top: 50%;
      left: 50%;
    }
    87.5% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 50.25%;
      left: 50.25%;
    }
  }
  @keyframes distort2 {
    0% {
      top: 50%;
      left: 49.75%;
    }
    12.5% {
      top: 50%;
      left: 50%;
    }
    25% {
      top: 49.75%;
      left: 49.75%;
    }
    37.5% {
      top: 50%;
      left: 50%;
    }
    50% {
      top: 50%;
      left: 50%;
    }
    62.5% {
      top: 50%;
      left: 49.75%;
    }
    75% {
      top: 50%;
      left: 49.50%;
    }
    87.5% {
      top: 49.50%;
      left: 49.80%;
    }
    100% {
      top: 50%;
      left: 50%;
    }
  }